In [1]:
import requests
from sqlalchemy import create_engine, Column, String, Integer, DateTime
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import datetime

In [2]:
DATABASE_URL = "sqlite:///data.db"  # SQLite database URL
engine = create_engine(DATABASE_URL)
Base = declarative_base()

C:\Users\pmarb\AppData\Local\Temp\ipykernel_12216\1972353020.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
json_url = "http://www.petharbor.com/get_image.asp?res=DETAIL&id=A489026&location=MONT"
response = requests.get(json_url)
# data = response.json()

response

In [10]:
import requests

def has_image_content(url):
    try:
        response = requests.get(url, allow_redirects=True)
        
        if not response.url.endswith("no_pic_d.jpg"):
            return True
        
        return False
    except requests.RequestException:
        return False

# Example URLs
urls = [
    "http://petharbor.com/get_image.asp?res=DETAIL&id=A406310&location=MONT",
    "http://www.petharbor.com/get_image.asp?res=DETAIL&id=A489026&location=MONT"
]

for url in urls:
    has_image = has_image_content(url)
    print(f"{url} has image content: {has_image}")

http://petharbor.com/get_image.asp?res=DETAIL&id=A406310&location=MONT has image content: True
http://www.petharbor.com/get_image.asp?res=DETAIL&id=A489026&location=MONT has image content: False

In [5]:
columns = []
for x in data["meta"]["view"]["columns"]:
    columns.append(x["name"])

columns

['sid',
 'id',
 'position',
 'created_at',
 'created_meta',
 'updated_at',
 'updated_meta',
 'meta',
 'Animal ID',
 'Intake Type',
 'In Date',
 'Pet name',
 'Animal Type',
 'Pet Age',
 'Pet Size',
 'Color',
 'Breed',
 'Sex',
 'URL Link ',
 'Crossing',
 'Council Districts',
 'Councils',
 'Communities',
 'Zip Codes',
 'Municipalities']

In [6]:
class RowData(Base):
    __tablename__ = 'rows'

    animal_id = Column(String, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    animal_type = Column(String)
    intake_type = Column(String)
    in_date = Column(String)
    size = Column(String)
    sex = Column(String)
    link = Column(String)

In [7]:
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
import datetime

In [9]:
for item in data['data']:
    animal_id = item[columns.index("Animal ID")]
    name = item[columns.index("Pet name")]  
    age = str(item[columns.index("Pet Age")])
    animal_type = item[columns.index("Animal Type")]
    intake_type = item[columns.index("Intake Type")]
    in_date = str(item[columns.index("In Date")])
    size = item[columns.index("Pet Size")]
    sex = item[columns.index("Sex")]
    link_list = item[columns.index("URL Link ")]
    if link_list:
        link = str(link_list[0])  # Take the first URL if available
    else:
        link = None  # Set to None if the list is empty
    

    row = RowData(animal_id=animal_id, name=name, animal_type=animal_type, intake_type=intake_type,  size=size, sex=sex , link=link)
    session.add(row)
session.commit()
session.close()

In [10]:
# session.close()

In [26]:
Base.metadata.drop_all(engine)

# Close the session
session.close()

In [15]:
from sqlalchemy.orm import Session
session = Session(engine)

In [21]:


results = session.query(RowData.animal_id)
session.close()

for result in results:
    print(result)

('A301283',)
('A406310',)
('A481006',)
('A483605',)
('A489026',)
('A493947',)
('A496551',)
('A497001',)
('A497237',)
('A497842',)
('A499028',)
('A500189',)
('A500491',)
('A500494',)
('A500507',)
('A500522',)
('A500853',)
('A500862',)
('A500928',)
('A501015',)
('A501124',)
('A501294',)
('A501296',)
('A501298',)
('A501299',)
('A501364',)
('A501429',)
('A501606',)
('A501998',)
('A502761',)
('A502783',)
('A502784',)
('A502909',)
('A503169',)
('A503280',)
('A503576',)
('A503628',)
('A503683',)
('A503913',)
('A503967',)
('A504328',)
('A504446',)
('A504536',)
('A504573',)
('A504624',)
('A504666',)
('A504713',)
('A504752',)
('A504881',)
('A504882',)
('A505013',)
('A505060',)
('A505071',)
('A505098',)
('A505200',)
('A505380',)
('A505385',)
('A505390',)
('A505416',)
('A505417',)
('A505418',)
('A505421',)
('A505471',)
('A505475',)
('A505490',)
('A505506',)
('A505507',)
('A505573',)
('A506016',)
('A506017',)

In [23]:
seen = set()
duplicates = []

# Iterate through the array
for value in results:
    if value in seen:
        duplicates.append(value)  # Value is a duplicate
    else:
        seen.add(value)  # Add value to the set of seen values

In [24]:
duplicates

[]

In [25]:
seen

{('A301283',),
 ('A406310',),
 ('A481006',),
 ('A483605',),
 ('A489026',),
 ('A493947',),
 ('A496551',),
 ('A497001',),
 ('A497237',),
 ('A497842',),
 ('A499028',),
 ('A500189',),
 ('A500491',),
 ('A500494',),
 ('A500507',),
 ('A500522',),
 ('A500853',),
 ('A500862',),
 ('A500928',),
 ('A501015',),
 ('A501124',),
 ('A501294',),
 ('A501296',),
 ('A501298',),
 ('A501299',),
 ('A501364',),
 ('A501429',),
 ('A501606',),
 ('A501998',),
 ('A502761',),
 ('A502783',),
 ('A502784',),
 ('A502909',),
 ('A503169',),
 ('A503280',),
 ('A503576',),
 ('A503628',),
 ('A503683',),
 ('A503913',),
 ('A503967',),
 ('A504328',),
 ('A504446',),
 ('A504536',),
 ('A504573',),
 ('A504624',),
 ('A504666',),
 ('A504713',),
 ('A504752',),
 ('A504881',),
 ('A504882',),
 ('A505013',),
 ('A505060',),
 ('A505071',),
 ('A505098',),
 ('A505200',),
 ('A505380',),
 ('A505385',),
 ('A505390',),
 ('A505416',),
 ('A505417',),
 ('A505418',),
 ('A505421',),
 ('A505471',),
 ('A505475',),
 ('A505490',),
 ('A505506',),
 ('A505507',),
 ('A505573',),
 ('A506016',),
 ('A506017',)}